
.all-about{
  --dark-chocolate: #241306;
  --crema: #AA8B73;
  --coffee-cream: #F4ECE6;
  --matcha: #809671;
  --mostly-milk: #DEE9D3;
  --blush: #F0DDD1;
  --dark-crayola: #F0DDD1;
  --burgundy-love: #330313;
  


/*  desktop: 1280×720  mobile: 360×640 */
/* vw value is relative to the viewport width, and so 10vw is 10 percent of the width of the viewport. */

  --font-size-hero: clamp(6.85rem, 11.930435vi + 4.17rem, 13.71rem);
  --font-size-large: clamp(4.24rem, 7.356522vi + 2.58rem, 8.47rem);
  --font-size-medium: clamp(2.62rem, 4.556522vi + 1.59rem, 5.24rem);
  --font-size-small:  clamp(1rem, 1.73913vi + 0.61rem, 2rem);

  --card-radius: 1rem;

  background-color: var(--coffee-cream);
  height: 100%
}

.boardgame{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(107, 75, 75), rgb(51, 3, 20));
}

.card{
  position: relative;
  width: 350px;
  height: 190px;
  background-color: rgb(240, 221, 209);
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);
  transition: 0.5s;
  
  
  }
  .card:hover{
    height: 400px;
  }
  
  .imgBg img{
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    /* background:  rgb(240, 221, 209);
    border-radius: 20px;
    box-shadow: 0 15px 50px  rgb(51, 3, 20);
    overflow: hidden; */
  }
  /* 
  .imgBg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  } */
  
  .card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }
  
  .card .content .details{
    padding: 0px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(190px);
  }
  
  .card:hover .content .details{
    transform: translateY(0px);
  }
  .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: rgb(51, 3, 20, 0.75);
    line-height: 1.2em;
  }
  .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
  }
  
  .details .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .details .data h3{
    font-size: 1em;
    color: rgb(51, 3, 20, 0.75);
    line-height: 1.2em;
    font-weight: 600;
  }
  .details .data h3 span{
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
  }
  .details .description h3{
    font-size: 1em;
    color: rgb(51, 3, 20, 0.75);
    line-height: 1.2em;
    font-weight: 600;
  }
  .details .description h3 span{
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
  }
  